* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sideBar ul {
    margin-top: 2rem;
}

.sideBar ul li, .sideBar h1 {
    margin: 0.5rem;
}

.sideBar a {
    text-decoration: none;
}

.headerBar1, .headerBar2 {
    padding: 1rem;
}

.headerBar1 {
    display: flex;
    gap: 2rem;
}

.headerBar1 form {
    flex: 1;
}

form input {
    width: 50vw;
}

.headerBar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr minmax(20ch, 2fr);
}

.greeting .profilePic {
    grid-row: 1 / 3;
}

.headerBar2 ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.headerBar2 button {
    width: 10ch;
    padding: 0.5rem;
}

.mainContent {
    display: grid;
    gap: 2rem;
    grid-template: repeat(2, 1fr) / 2fr 1fr
}

.yourProjectsSection {
    grid-row: 1 / 3;
}

.yourProjectsSection > * {
    margin: 1rem;
}

.yourProjects {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(40ch, 1fr));
}