* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.sideBar {
    background-color: lightskyblue;
    display: grid;
    grid-template-rows: 2rem 12rem 6rem;
    padding: 1rem;
}

.sideBar > * {
    list-style-type: none;
}

.sideBar ul {
    margin-top: 2rem;
}

.sideBar ul li, .sideBar h1 {
    margin: 0.5rem;
}

.sideBar ul li a {
    text-decoration: none;
}

.headerBar1, .headerBar2 {
    padding: 0.75rem;
    margin-left: 1.5rem;
}

.headerBar1 {
    display: grid;
    grid-template-columns: 0.5fr 10fr 0.5fr 1fr 2fr;
    gap: 2rem;
}

form input {
    width: 80ch;
    justify-self: start;
}

.headerBar2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    justify-content: space-between;
    align-items: center;
}

.greeting {
    display: grid;
    grid-template: 1fr 1.5fr / 10ch 1fr;
    column-gap: 5px;
}

.greeting .profilePic {
    grid-row: 1 / 3;
}

.headerBar2 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.headerBar2 button {
    width: 10ch;
    padding: 0.5rem;
}

.mainContent {
    background-color: lightgrey;
    display: grid;
    grid-template: repeat(2, 1fr) / 2.5fr 1fr;
    padding: 1.5rem 1rem;
    gap: 2rem;
    align-items: stretch;
}



.projectCard, .announcements, .trending {
    background-color: white;
}

.projectCard p, .trending p {
    font-size: 1rem;
}

.yourProjectsSection h3, .announcementsSection h3, .trendingSection h3 {
    margin-bottom: 0.5rem;
}

.yourProjectsSection {
    grid-row: 1 / 3;
}

.yourProjects {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(40ch, 1fr));
    grid-template-rows: repeat(3, 1fr);
}

.projectCard {
    padding: 2rem 1rem;
    border-left: 5px solid goldenrod;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    row-gap: 0.5rem;
}

.projectCardButtonDiv {
    justify-self: end;
}

.announcements {
    padding: 0 1.5em;
    display: grid;
}

.announcements .newsCard {
    font-size: 0.75rem;
    padding: 1.5rem 0;
}

.announcements .newsCard:nth-child(n + 2){
    border-top: 2px solid lightgray;
}

